html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

nav {
  z-index: 2;
  float: left;
  font-size: 20px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body{
  font-family: 'helvetica', sans-serif;
}
.top{
  color: white;
}
@font-face {
    font-family: helvetica;
    /*src: url(../vendors/helvetica.ttf);*/
}
h1{
  font-size: 2em;
}
