#map {
  position: relative;
  height: 100vh;
}
aside section#statpanel {
  z-index: 1;
  bottom: 0px;
  left: 0%;
  display: inline-block;
  background-color: #11161C;
  border-left: solid 2px darkgray;
  border-bottom: solid 2px darkgray;
  font-size: 16px;
  height: 100vh;
  border-bottom-left-radius: 8px;
  font-family: 'Lora';
  overflow: scroll;
  font-size: 16px;
  width: 100%;

}
aside section#statpanel h2 {
  margin-top: 25%;
  text-align: center;
  color: white;
  overflow: auto;
}

aside h3 {
  margin-top: 8px;
  color: white;
}

aside li {
  list-style: none;

}

aside ul#filters {
  padding: 0;
  color: white;
}

#stats-comparison {
  font-size: 12px;
  color: white;
}

aside p, h3 {
  padding: 0;
  margin: 2px;
  color: white;
}

#elevation_chart h4 {
  text-align: center;

}

select.route-filter {
  margin: 0 auto;
  padding: 0;
  width: 50%;
  display: inline-block;
}

select#required {

}

button#slidetoggle {
  position: absolute;
  top: 48%;
  right: 110%;
}
.button {
  height: 50px;
  text-align: center;
  background: none;
  position: absolute;
  top: 30%;
  left: 50%;
  /*z-index: 2;*/
  width: 200px;
  margin-left:-100px;
  margin-top:-25px;
  border-radius: 3px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}
.map-button{
  display: inline-block;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 50px;
  /*vertical-align: middle;*/
  text-decoration: none;
}
.map-button:visited{
  color: white;
}
.map-bar{
  position: absolute;
  display: flex;
  justify-content:space-between;
  top: 75px;
  width: 100%;
  /*background-color: white*/
}
.map-nav-button{
  white-space:nowrap;
  display: inline-block;
  height: 48px;
  width: 60px;
  margin: auto;
  color: black;
  /*background-color: white;*/
  text-align: center;
  /*font-size: 2.5em;*/
  line-height: 60px;
}
span{
  line-height: 60px;
}
#toggleOff{
  display: none;
}
#showMarkers{
  display: none;
}
/*#elevation_chart h4 {
  text-align: center;*/


#route-filter h3{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

#route-filter div {
  padding: 5px;
  font-size: .9em;
}
.top-nav{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  padding-left: 0;
  width: 100%;
  z-index: 4;
  margin-top: 0px;
}
.top-nav-button{
  display: inline-block;
  width: 25%;
}
.top-nav-link{
  color: white;
  text-decoration: none;
  font-size: 1em;
}
.nav-shade{
position: fixed;
z-index: 1;
top: 0;
width: 100%;
height: 75px;
margin-top: 0px;
background-color: black;
opacity: 0.20;
}
#route-name{
  /*display: none;*/
  position: absolute;
  bottom: 105vh;
  width: 30%;
  height: 20px;
  margin-left: 35%;
  margin-right: 35%;
  z-index: 2;
  opacity: .5;
  text-align: center;
  transition: 300ms;
}

input#route-name:hover, input#route-name:focus {
  opacity: .9;
}

@media only screen and (min-width: 900px) {
  #stats-link{
    display: none
  }
  #stats{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 350px;
  }
  #route-name{
    position: absolute;
    top: 90vh;
    width: 250px;
    height: 1em;
    font-size: 2em;
    left: 20px;
    margin: 0;
    padding: 0;
  }
}
