#map {
  height: 100%;
  position: relative;

}
aside {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  background-color: white;
  border: solid 1px darkgray;
  font-size: 16px;
  height: 60%;
  width: 20%;
  border-radius: 10px;
  padding: 10px;
}

aside h3 {
  margin-top: 8px;
}

aside li {
  list-style: none;
}

#stats-comparison {
  font-size: 12px;
}

aside p, h3 {
  padding: 0;
  margin: 2px;
}

#elevation_chart h4 {
  text-align: center;

}
