#map {
  position: relative;
  height: 85vh;
}
aside section#statpanel {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  background-color: snow;
  border-left: solid 2px darkgray;
  border-bottom: solid 2px darkgray;
  font-size: 16px;
  height: 60vh;
  width: 20%;
  border-bottom-left-radius: 8px;
  font-family: 'Lora';
  overflow: scroll;
}

aside section#statpanel h2 {
  text-align: center
}

aside h3 {
  margin-top: 8px;
}

aside li {
  list-style: none;
}

aside ul#filters {
  padding: 0;
}

#stats-comparison {
  font-size: 12px;
}

aside p, h3 {
  padding: 0;
  margin: 2px;
}

#elevation_chart h4 {
  text-align: center;

}

select.route-filter {
  margin: 0 auto;
  padding: 0;
  width: 50%;
  display: inline-block;
}

select#required {

}

button#slidetoggle {
  position: absolute;
  top: 48%;
  right: 110%;
}

#route-filter h3{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
}

#route-filter div {
  padding: 5px;
  font-size: .9em;
}
